<div class="container">
  <div class="row">
    <div class="col-md-12">

      <%= form_with(model: booking, local: true) do |form| %>
        <% if booking.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

            <ul>
              <% booking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :appointment_date %><br>
          <%= form.date_select :appointment_date %>
        </div>
  
        <div class="form-group">
          <%= form.label :doctor_id %>
          <%= form.select :doctor_id, Doctor.all.collect {|t| [t.name, t.id]}, {prompt: 'Doctor Name'}, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :patient_id %>
          <%#= form.number_field :patient_id, id: :booking_patient_id, class: 'form-control' %>
          <%= form.select :patient_id, Patient.all.collect {|t| [t.name, t.id]}, {prompt: 'Patient Name'}, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :diseases %>
          <%= form.text_field :diseases, id: :booking_diseases, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= form.submit class: 'btn btn-success' %> | <%= link_to 'Back', bookings_path, class: 'btn btn-primary' %>
        </div>

      <% end %>

    </div>   
  </div>
</div>


