<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :appointment_date %><br>
    <%= form.date_select :appointment_date %>
  </div>
  
  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.select :doctor_id, Doctor.all.collect {|t| [t.name, t.id]}, {prompt: 'Select Doctor'}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.number_field :patient_id, id: :booking_patient_id %>
  </div>

  <div class="field">
    <%= form.label :diseases %>
    <%= form.text_field :diseases, id: :booking_diseases %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
