<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <h1>Appointments</h1>

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Appointment Date</th>
              <th>Doctor Name</th>
              <th>Patient Name</th>
              <th>Diseases</th>
              <th>Actions</th>
            </tr>
          </thead>

        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td><%= booking.appointment_date %></td>
              <td><%= booking.doctor_id %></td>
              <td><%= booking.patient_id %></td>
              <td><%= booking.diseases %></td>
              <td><%= link_to 'Show', booking %> |
              <%= link_to 'Edit', edit_booking_path(booking) %> |
              <%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>

      <%= link_to 'New Booking', new_booking_path, class: 'btn btn-success' %>

    </div>
  </div>
</div>



