<div class="container">
	<div class="row">
		<div class="col-md-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @doctor.specialization %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor), class: 'btn btn-info' %> |
<%= link_to 'Back', doctors_path, class: 'btn btn-secondary' %>
</div>
	</div>
</div>